{{extend "layout.html"}}
<div id='home'>
<h1>{{=T("Why would you give to the City of Los Angeles?")}}</h1>
<h2 class='paper-strip'>{{=T("Donate")}}</h2>
{{=P(XML(T("It's what Angelenos do when disasters happen. Whether you are an individual, business, community group or a faith based organization, you can make a difference in helping survivors recover from a disaster.  Whatever your contribution - whether it's time, goods or money - when you %(give2la)s your assistance aids in a variety of support efforts.  Simply put - It is the spirit and value of charity that helps survivors get back on their feet and get their lives back on track.") % dict(give2la = "<strong>Give2<em>LA</em></strong>")))}}
<h2 class='paper-strip'>{{=T("Volunteer")}}</h2>
<p>{{=T("Feel like you want to help your fellow citizens in the aftermath of a terrible disaster?  Some agencies and organizations rely on volunteers such as you in those situations. Following a disaster, first point of contact a survivor has is often a  caring volunteer. Why not let that volunteer be you.")}}
</div>
